@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Sofia&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5;
  color: #FFFFFF;
  scroll-behavior: smooth; }

body {
  background-image: url(../assets/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  font-family: "Righteous", cursive, sans-serif;
  font-weight: 400; }

.container {
  max-width: 1200px;
  margin: 5rem auto;
  min-height: 50rem; }

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #FFFFFF;
  border-top: 1px solid #FFFFFF;
  padding: .5rem 0; }
  @media screen and (max-width: 46.875em) {
    .header {
      flex-direction: column;
      gap: 1rem; } }

.main {
  display: flex;
  flex-direction: column;
  align-items: center; }

.section {
  width: 100%; }

.footer {
  margin-top: 2rem;
  text-align: center; }
  @media screen and (max-width: 40.625em) {
    .footer {
      font-size: .6rem; } }
  .footer__social {
    display: flex;
    justify-content: center;
    margin-top: .5rem;
    gap: 1rem; }
    .footer__social--icon {
      width: 2.5rem;
      height: 2.5rem;
      padding: .5rem;
      border-radius: 3px;
      fill: #FFFFFF;
      background-color: #E50B14;
      transition: all .3s; }
      .footer__social--icon:hover {
        transform: scale(1.1); }
  .footer span {
    color: #E50B14; }

.search, .search__section {
  display: flex;
  justify-content: center;
  align-items: center; }

.nav, .nav__user, .search__section-form {
  display: flex;
  align-items: center; }

.hero__section--1, .hero__section--2, .hero__section--3 {
  border: 1px solid #FFFFFF;
  padding: 1rem;
  border-radius: 1rem;
  line-height: 2rem;
  position: relative; }

.hero__section--1, .hero__section--2, .hero__section--3 {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.01)); }

.logo {
  width: 15rem;
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF; }

.nav {
  font-family: "Sofia", cursive, sans-serif;
  justify-content: space-between; }
  @media screen and (max-width: 46.875em) {
    .nav {
      width: 100%;
      justify-content: center; } }
  .nav__items {
    font-size: 1.3rem;
    display: flex; }
    @media screen and (max-width: 40.625em) {
      .nav__items {
        font-size: 1rem; } }
    .nav__items--icon {
      fill: #FFFFFF;
      width: 2rem;
      height: 2rem; }
    .nav__items--item {
      list-style: none;
      margin-right: 1rem;
      transition: all .5s; }
      .nav__items--item:first-child {
        background-color: #E50B14;
        border-radius: 1rem 0 1rem 0; }
      .nav__items--item:hover {
        background-color: #E50B14;
        border-radius: 1rem 0 1rem 0; }
      .nav__items--item a:link,
      .nav__items--item a:visited {
        display: flex;
        align-items: center;
        color: #FFFFFF;
        text-decoration: none;
        padding: .3rem; }
  .nav__user {
    gap: 1rem; }
    .nav__user--icon {
      width: 2.5rem;
      height: 2.5rem;
      padding: .3rem;
      cursor: pointer;
      fill: #FFFFFF;
      transition: all .5s; }
      .nav__user--icon:hover {
        background-color: #E50B14;
        border-radius: 1rem 0 1rem 0; }

.search {
  font-family: "Sofia", cursive, sans-serif;
  flex-direction: column; }
  @media screen and (max-width: 40.625em) {
    .search__section {
      flex-direction: column; } }
  .search__section-form {
    margin: 1rem 0; }
    .search__section-form_label {
      background-color: #E50B14;
      padding: .25rem 2rem;
      font-size: 1rem;
      border-radius: 0 1rem 1rem 0;
      cursor: pointer;
      border: none;
      transition: all 0.8s cubic-bezier(0, 1.65, 0.85, 0.7); }
      .search__section-form_label:active {
        transform: scale(1.1); }
    .search__section-form_input {
      color: #E50B14;
      padding: .55rem 2rem;
      font-size: .8rem;
      border: none;
      border-radius: 1rem 0 0 1rem; }
  .search__section-btn {
    font-family: "Sofia", cursive, sans-serif;
    font-size: 1rem;
    background-color: #E50B14;
    color: #FFFFFF;
    padding: .25rem 1rem;
    border: none;
    border-radius: 1rem;
    margin-left: 1.5rem;
    cursor: pointer;
    transition: all 0.8s cubic-bezier(0, 1.65, 0.85, 0.7); }
    .search__section-btn:active {
      background-color: #e2050d;
      transform: scale(1.1); }
  .search p {
    font-family: 'Righteous', cursive, sans-serif;
    font-style: italic;
    font-size: .8rem;
    text-align: center; }
    @media screen and (max-width: 40.625em) {
      .search p {
        font-size: .8rem; } }

.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem; }
  @media screen and (max-width: 40.625em) {
    .hero {
      font-size: .8rem; } }
  .hero__section {
    display: flex;
    gap: 1rem;
    flex: 0 0 65%; }
    @media screen and (max-width: 75em) {
      .hero__section {
        flex: 0 0 80%; } }
    @media screen and (max-width: 40.625em) {
      .hero__section {
        flex-direction: column; } }
    .hero__section--name {
      font-size: 2rem;
      text-align: center; }
      .hero__section--name-version button {
        background-color: #E50B14;
        color: #FFFFFF;
        padding: .5rem 1rem;
        margin: 0 .2rem;
        border: none;
        border-radius: .3rem;
        font-size: 1rem;
        font-weight: 700;
        cursor: pointer;
        transition: all 0.8s cubic-bezier(0, 1.65, 0.85, 0.7); }
        .hero__section--name-version button:active {
          transform: scale(1.1); }
    .hero__section--1 {
      flex: 0 0 70%; }
      @media screen and (max-width: 56.23em) {
        .hero__section--1 {
          flex: 0 0 60%; } }
    .hero__section--2 {
      flex: 1;
      flex: 0 0 30%; }
      .hero__section--2-power p {
        display: flex;
        flex-direction: column; }
    .hero__section--3 {
      width: 100%;
      flex: 1; }
    .hero__section--img {
      box-shadow: 1px 4px 12px 1px rgba(255, 255, 255, 0.2); }
      @media screen and (max-width: 40.625em) {
        .hero__section--img {
          display: flex;
          justify-content: center;
          order: -1; } }
      .hero__section--img-jpg {
        width: 100%; }
        @media screen and (max-width: 40.625em) {
          .hero__section--img-jpg {
            width: 50%; } }
    .hero__section--icon {
      width: 2rem;
      height: 2rem;
      fill: #FFFFFF;
      background-color: #E50B14;
      padding: .5rem;
      border-radius: 50%;
      position: absolute;
      top: -1rem; }
      @media screen and (max-width: 40.625em) {
        .hero__section--icon {
          width: 1.6rem;
          height: 1.6rem; } }

.title--paragraph {
  color: #E50B14; }

.progress {
  height: 1.3rem;
  border-radius: 1rem;
  width: 85%;
  background-color: #FFFFFF;
  position: relative; }
  .progress-bar {
    height: 100%;
    background-color: #0078D4;
    border-radius: inherit;
    position: relative; }
    .progress-bar-text {
      height: 100%;
      position: absolute;
      left: 100%;
      z-index: 1;
      color: #E50B14;
      font-size: 1rem;
      display: flex;
      align-items: center; }
