
    $color-white: #FFFFFF;
    $color-red: #E50B14;
    $color-red-focus:#e2050d;
    $font-primary: 'Righteous', cursive, sans-serif;
    $font-secondary: 'Sofia', cursive, sans-serif;

    $bp-largest: 75em; //1200px
    $bp-large: 68.75em ;//1000px
    $bp-medium: 56.23em; // 900px
    $bp-small: 46.875em; // 750px
    $bp-smallest: 40.625em; // 650px


@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sofia&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5; // 1rem = 10px
    color: $color-white;
    scroll-behavior: smooth;
}

body {
    background-image: url(../assets/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    font-family: $font-primary;
    font-weight: 400;
}